
.artistDashboard .card-header {
    background-color: #ff0000d6 !important;
}
.viewButton {
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: none;
    border: 1px solid red;
    font-size: .8rem;
    font-weight: 600;
    background-color: #000000;
    color: white !important;
    display: flex;
    transition: all .3s ease;
}
.viewButton:hover {
    box-shadow: 0px 0px 5px red;
}
.followIcon {
    color: red;
    margin-right: 5px;
}