
.container{
    background-color: #0c0c0c33!important;
    width: 100% !important;
    margin: 0 !important;
    min-width: 100% !important
}
.headerText{
  text-shadow: 3px 1px 4px rgb(214, 3, 3);
  color: white !important;
}
.headerText2{
    color: rgb(90, 90, 90) !important;
}
.container button{
    margin-top: 5px;
    background-color: transparent;
    border: 1px solid #8a0303b3 ;
    padding: 5px 10px;
    border-radius:2px;
    color: rgb(219, 219, 219);
    transition:all .6s ease;
}
.container button:hover{
    background-color: #9b0202b3 !important;
    border: 1px solid #d6d6d6 !important; 
    color: white !important;
}