.bg-black {
  --bs-bg-opacity: 1;
  background-color: #0f0f0f !important;
}

.applyArtistBtn {
  margin-right: 10px;
  transition: all .3s ease;
}
.applyArtistBtn-red {
  background-color: rgba(255, 0, 0, 0.761) !important;
  color: rgb(240, 240, 240)
}
.applyArtistBtn-red:hover {
  background: rgba(255, 0, 0, 0.926) !important;
}

.cursor-notAllowed {
  cursor: wait !important;
}

.navigation-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #ededed; 
    margin-right: 20px;
  }
  
  .navigation-button:hover {
    color: #c20000; 
  }
  .search-container {
    position: relative;
    background-color: #171616;
    border: 1px solid #727272;
    border-radius: 15px;
    height: 40px;
    padding: 5px 10px;
    transition: border-color 0.3s ease;
    max-width: 300px;
  }
  
  .search-input {
    width: 100%;
    background-color: transparent;
    border: none;
    border: 2px solid transparent;
    color: #fff;
    font-size: 16px;
    outline: none;
    padding-left: 30px; 
  }
  
  .search-icon {
    position: absolute;
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%);
    color: #ccc; 
  }
  
  .search-input::placeholder {
    color: #ccc;
    font-size: 14px;
    padding-left: 10px; 
  }
  
  .search-container:focus-within {
    border-color: #ffffffff;
  }
  
  .icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-right: 25px; 
    color: #c4baba; 
  }
  
  .icon-button:hover {
    color: #c20000; 
  }
  
  .icon-button .upload-icon {
    margin-right: 10px;
    padding: 3px 3px;
    font-size: 40px;
    color:#c20000;
     transition: transform 0.3s ease;
  }
  
  .upload-icon:hover {
    transform: scale(1.2); 
  }
  
  .menu-item:hover {
    background-color: #c20000; /* Highlight color on hover */
  }

  .user-logo {
    width: 30px; /* Adjust the width according to your preference */
    height: 30px; /* Adjust the height according to your preference */
    border-radius: 50%; /* Optionally, add border radius for rounded shape */
  }


.profile-menu-item:hover {
  background-color: #c20000;
} 



/* Styles for profile dropdown menu items */
.css-6hp17o-MuiList-root-MuiMenu-list .profile-menu-item {
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: #171616;
}

/* Style for profile dropdown menu items on hover */
.css-6hp17o-MuiList-root-MuiMenu-list .profile-menu-item:hover {
  background-color: #c20000;
}

/* Style for profile dropdown menu divider */
.css-6hp17o-MuiList-root-MuiMenu-list .profile-menu-divider {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 5px 0;
}

.logout-button {
  margin-left: 30px;
}


/* Styles for menu icons */
.menu-icon {
  
  margin-right: 5px; /* Adjust the margin as needed */
}

/* Styles for menu text */
.menu-text {
  vertical-align: middle; /* Align text vertically in the middle */
}
