body {
  background: #000;
}
.card-content {
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    overflow: hidden;
  }
  .background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: brightness(50%); 
  }
  
  .content-overlay {
    position: relative;
    z-index: 2;
  }
  
  .card-title {
    color: #ffffff !important;
  }
  
  .card-subtitle {
    color: #d10000 !important;
  }
  
  .card-text {
    color: #ffffff !important;
  }
  
  .button-view-playlist {
    background-color: #f2f2f2 !important;
    color: black !important;
  }
  
  .button-follow {
    background-color: #c20000 !important;
    margin-left: 20px !important;
    color: white !important;
  }
  
  .artist-card-container {
    width: calc(100%) !important; 
    border: 2px solid #c20000;
    border-radius: 7px;
  }
  .artist-card-container:first-child {
    width: 100% !important;
  }
  .like-button {
    color: #afacac !important;
  }
  
  .like-button .filled {
    color: #c20000; 
  }
  
  .like-button .filled:hover {
    color: red; 
  }
  
  /* Define animation for filling the heart */
  @keyframes fillHeart {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2); 
    }
  }
  
  .like-button .filled {
    animation: fillHeart 0.2s ease-in-out; 
  }
  
  /*pupular tracks section  */
  .popular-tracks-title {
    color: white;
  }
  
  .popular-tracks-container {
    margin-top: 20px;
    min-width: 600px !important;
  }
  /* .popular-tracks-container ::-webkit-scrollbar{
    width: :0px;
  } */

  .popular-track {
    display: flex;
    align-items: center;
    margin-bottom:20px;
    padding: 10px;
  }
  
  .popular-track-number {
    flex: 0 0 30px;
  }
  
  .track-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .track-info {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .sticky-title {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  
  .track-title,
  .track-artist,
  .track-playtime,
  .track-listens,
  .track-likes {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65px; 
    font-size: 12px;
    color: #ababab; 
  }
  
  .track-details-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  /* .track-info > div {
    margin-right: 50px; 
  } */
  
  .track-title {
    font-weight: bold;
  }
  
  .track-artist {
  
  }
  
  .track-playtime,
  .track-listens,
  .track-likes {
    display: flex;
    align-items: center;
  }
  
  .track-playtime .icon,
  .track-listens .icon,
  .track-likes .icon {
    margin-right: 5px;
  }
  
  .play-button.MuiButtonBase-root {
    background-color: #c20000 !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
    color: white !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  
  .play-button.MuiButtonBase-root:hover {
    background-color: darkred !important;
  }
  
  .dashboard-container {

    height: auto !important;
  }
  /*trending artist section  */
  
  .artist-image {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    object-fit: cover; /* Ensure the image covers the specified dimensions */
    border-radius: 50%; /* Make the image round */
  }
  .trending-artist-title {
    color: white;
  }
  
  .trending-artist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  
  .artist-info {
    display: flex;
    align-items: center;
  }
  
  .artist-details {
    margin-left: 5px; /* Adjust margin as needed */
  }
  
  .genre-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 300px; /* Adjust the maximum width as needed */
    margin-top: 10px; /* Adjust as needed */
  }
  
  .genre-button.MuiButtonBase-root {
    flex-basis: calc(33.33% - 10px); /* 33.33% minus margin-right */
    margin: 5px; 
    background-color:transparent;
    border: 1px solid #171616;
    color: #d1d1d1;
  }
  .genre-button.MuiButtonBase-root:hover{
    background-color: #c20000;
  }