.Container {
  display: flex;
}

.SidePanelContainer {
  width: 26vw; /* Adjust width as needed */
  height: 85vh;
  border: 1px solid lightblue; /* Example background color */
}

.MainContainer {
  height: 86vh; 
  width: 60vw;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.TopContainer,
.BottomContainer {
  flex-grow: 1; 
  border-radius: 5px;
  overflow: hidden;
}

.TopContainer {
  position: relative;
  background-color: rgb(0, 0, 0);
  height: 60vh; 
  width: 60vw ;
}

.AudioPlayerWrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.react-audio-player {
  background-color: #000;
}

.react-audio-player .rhap_progress-container {
  background-color: #333; /* Change progress bar background color */
}

.react-audio-player .rhap_progress-bar {
  background-color: #fff; /* Change progress bar color */
}

.react-audio-player .rhap_button {
  color: #fff; /* Change button color */
}

.react-audio-player .rhap_button-clear {
  color: #fff; /* Change button color on hover */
}

/* New CSS styles for playlist container and tracks */

.BottomContainer {
  height: 40vh; /* Set the height to 70% of the viewport height */
  width: 60vw;
}

.PlaylistContainer {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 60vw;
  overflow:  auto;
  padding: 0px;
}

.Track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 10px;
  border-bottom: 0.5px solid gray;
  color: #cccccc;
  font-size: smaller;
}

.TrackInfo {
  display: flex;
  align-items: center;
}

.TrackImage img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.TrackTitle p {
  margin: 0;
}

.Album p,
.Duration p {
  margin: 0;
}
