.container-parent {
  background-color: #0c0d0e;
  padding: 10px !important;
}

.dashboard-container {
  width: 100%;
  height: 100%;
  background-color: #0c0d0e;
}

.artist-title-viewmore {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 65%;
}

.albums-title-viewmore {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 70%;
}

.view-morebtn {
  background-color: transparent;
  color: #efefef;
  border-width: 0px;
}

.artists-container,
.albums-container {
  min-height: 200px;
  overflow-x: auto !important;
}

.artist-title,
.albums-title {
  color: rgb(214, 214, 214);
}

.artist-cards-container,
.album-cards-container {
  display: flex;
  gap: 25px;
  margin: 0px 20px 0px 20px;
  overflow: auto;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  max-width: fit-content;
  background-color: transparent !important;
}

.album-cards-container::-webkit-scrollbar, .artist-cards-container::-webkit-scrollbar {
  height: 10px;
}
.album-cards-container::-webkit-scrollbar-thumb {
  cursor: grab;
}


.album-card {
  max-width: 180px;
  min-width: 170px;
  display: flex;
  flex-direction: column;
  background-color: #080808cf;
  border-radius: 10px;
}

.artist-card {
  max-width: 180px;
  min-width: 170px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 10px;
}

.image-container {
  position: relative; 
}

.artist-image,
.album-image {
  position: relative; 
  top: 10px; 
  left: 10px; 
}

.artist-info,
.album-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-image {
  max-width: 160px !important;
  min-width: 150px !important;
  max-height: 160px !important;
  min-height: 150px !important;
  border-radius: 50%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 14px 16px rgba(8, 8, 8, 0.6);
}

.album-image {
  max-width: 150px !important;
  min-width: 140px !important;
  max-height: 150px !important;
  min-height: 140px !important;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 14px 16px rgba(8, 8, 8, 0.6);
}

.artist-name-container,
.album-name-container {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

.artist-name,
.album-name {
  color: rgb(199, 197, 197);
  font-size: 16px;
}

.artist-description,
.album-description {
  font-size: 12px;
  color: #a8a8a8; 
  margin-top: 5px; 
}

/* Custom scrollbar styling */
.artists-container::-webkit-scrollbar,
.albums-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.album-card:hover {
  background-color: rgba(15, 15, 15, 0.808); 
  transition: background-color 0.3s ease; /* Smooth transition */
}

.artist-card:hover {
  background-color: rgb(17, 17, 17); 
  transition: background-color 0.3s ease; /* Smooth transition */
}

.card-content {
  position: relative;
}

.play-button {
  position: absolute;
  right: 25px;
  bottom: 0;
  display: none;
  width: 40px;
  height: 40px;
  background-color: rgba(219, 8, 8, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: 320ms;
}

.image-container .play-button {
  position: absolute;
  right: 25px;
  top: 135px;
  display: none;
  width: 40px;
  height: 40px;
  background-color: rgba(219, 8, 8, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: 320ms;
}
.artist-card:hover .play-button,
.album-card:hover .play-button {
  bottom: -5px; /* Adjust to original position */
  opacity: 1; /* Set opacity to 1 */
}

.play-button svg {
  width: 24px;
  height: 24px;
}

/* Responsive Styles */

/* For screens smaller than 768px */
@media (max-width: 650px) {
  .dashboard-container {
    margin: 20px 10px; /* Adjust margin for smaller screens */
  }

  .artist-title-viewmore,
  .albums-title-viewmore {
    gap: 5%; /* Reduce the gap between elements */
  }

  .artists-container,
  .albums-container {
    margin: 0px; /* Reset margin */
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center items */
    gap: 20px; /* Add space between containers */
  }

  .artist-cards-container,
  .album-cards-container {
    flex-wrap: wrap; /* Allow cards to wrap */
    justify-content: center; /* Center cards */
    gap: 20px; /* Add space between cards */
  }

  .artist-card,
  .album-card {
    width: calc(50% - 20px); /* Adjust card width */
    max-width: 200px; /* Limit maximum width */
  }
}

/* For screens smaller than 480px */
@media (max-width: 380px) {
  .artist-card,
  .album-card {
    width: calc(100% - 20px); /* Adjust card width for smaller screens */
  }
}
