.ResultsContainer {
    height: 100%;
}

.musicContainer,
.artistContainer,
.videocastContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 40vh;
    padding: 15px 15px 0px 15px;
}

.musicHeader,
.artistHeader,
.videocastHeader {
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 15px;
}
.videocastHeader {
    display: flex;
    font-size: 25px !important;
    font-weight: 600;
    width: 100%;
    justify-content: space-between;
}
.videocastHeader {

}
.videocastHeader h5 {
    top: 0 !important;
    cursor: pointer;
    transition: all .3s ease;
}
.videocastHeader h5:hover {
    color: #ff0000b3;
}
.musicCards,
.artistCards,
.videocastCards {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-block-end: 10px;
}

.musicCards::-webkit-scrollbar,
.artistCards::-webkit-scrollbar,
.videocastCards::-webkit-scrollbar {
    height: 10px;
}

.card {
    flex: 0 0 auto; /* Allow cards to shrink */
    border-radius: 5px;
    width: 15vw;
    height: 100%;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    overflow: hidden !important;
    cursor: pointer;
}

.cardImage {
    width: 105px; 
    height: 105px; 
    object-fit: cover; 
    margin: 0 auto; 
    position: relative; 
    top: 90px;
    left: 63px;
    transform: rotate(30deg); 
    border-radius: 6px;
}

.ResultsContainer h5 {
    padding: 10px 0px 10px 15px;
    color: #cfcfcf;
    font-size: 16px;
    position: relative;
    top: -100px;
    right: 5px;
}
.show {
    opacity: 1;
}