/* sidenavMP.css */
.side-nav-mp {
    background-color: #0c0c0c;
    max-width: 150px !important;
    min-width: 100px !important;
  }
  
  .side-nav-mp ul li {
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
  }
  
  .side-nav-mp span {
    margin-left: 10px;
  }
  
  .side-nav-mp ul li:after {
    content: "";
    width: 0;
    height: 1px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px solid rgb(255, 47, 47);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width .5s ease-out;
  }
  
  .side-nav-mp li:hover, .side-nav-mp li.active {
    color: #ff0000b3;
  }
  
  .side-nav-mp li:hover::after {
    width: 100%;
  }
  
  .side-nav-mp a {
    text-decoration: none !important;
  }
  
  /* Additional styles specific to SideNavMP */
  .divider-top {
    width: 100%;
    border: 2px solid #c40303 !important; 
    margin: 2px 0px 0px;  
  }
  
  .playlist-image {
    width: 30px;
    height: 30px; 
    border-radius: 50%; 
  }
  
  .library-section {
    padding: 10px 0;
    min-height: 130px !important;
  }

  .playlist-container {
    overflow-x: hidden;
  }
  
  .library-header {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .playlist-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Add additional styling as needed for playlist images and names */
  }
  
  .create-playlist-button {
    background-color: #db0000;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;

    border: none;
  }
  
  .create-playlist-button:hover {
    background-color: #d11f1f;
  }
  
  .playlist-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    text-align: left; 
  }
  
  .playlist-button:focus {
    outline: none; /* Remove default focus outline */
  }
  

  
  .playlist-name {
    color: white;
    font-size: 12px;
  }
  
  .library-header {
    color: white;
  }
  .view-playlist {
    font-size: .9rem;
    background: transparent;
    position: relative;
  }
  .view-playlist:hover::before{
    width: 100%;
    background-color: rgb(255, 0, 0);
  }
  .view-playlist::before{
    content: "";
    position: absolute;
    transition: all .3s ease;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    bottom: -5px;
    left: 0;
  }
  .playlist-reminder {
    font-size: .8rem;
    color: #d8d8d8 !important; 
  }
  .hide-viewMore {
    display: none !important;
  }
  .playlist-container a {
    padding: 5px;
    transition: all .3s ease;
  }
  .playlist-container a:hover {
    background-color: rgb(32, 32, 32);
    width: 100%;
  }